<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/devise.css">
    <title>devise</title>
</head>
<body>
    <div class="test">
        <h class="text">Название</h>
    </div >
    <div class="test test-img">
        <h class="text">Картинка</h>
    </div>
    <div class="test">
        <h class="text">Цена</h>
    </div>
    <div class="test">
        <h class="text">Цвет</h>
    </div>
    <div class="test">
        <h class="text">Характеристики</h>
    </div>

</body>
</html>